<header class="header">
  <ul class="list">
    <li class="list_item"> <a class='link' href="/">Home</a> </li>
    <li class="list_item"> <a class='link' href="/products">Products</a> </li>
    <li class="list_item"> <a class='link' href="/news">News letter</a> </li>
    <li class="list_item"> <a class='link' href="location.html"> Locations</a></li>
    <li class="list_item"> <a class='link' href="about.html">About</a> </li>
    <li class="list_item"> <a class='link' href="/regis">register</a> </li>
    <li class="list_item"> <a class='link' href="/login">login</a> </li>
  </ul>
</header>